<div class="topnav">
  <a href="/">Home</a>
  <a href="/recipes">Public Recipes</a>
  <a class="active" href="/recipes/new">Create a Recipe</a>
  <a href="/users/<%= current_user.id %>">My Recipes</a>
</div> 
<br>
<h2>Create your recipe</h2>

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<form action='/recipes' method="post">
    <label for="name">Recipe Name:</label><br>
      <input type="text" name="name" id="name"><br>
      <br>

    <label>Select Ingredients</label>
    <br>
    <label for="amount"></label>
      <input type="text" name="ingredient[][amount]" id="amount" placeholder="amount">
        <select id="measurement" name="ingredient[][measurement]">
          <% @measurements.each do |measurement|%>
          <option value = "<%= measurement %>"><%= measurement %></option>
          <% end %>
        </select>
    <label for="ingredient_name"></label>
      <input type="text" name="ingredient[][name]" id="ingredient[name]" placeholder="name of ingredient"><br>
    <br>
    <br>
    <label for="method">Method:</label><br>
        <textarea rows="10" cols="85" name="method" id="method"> </textarea><br>
        <br>
    <p> Would you like your recipe to be public or private?</p>
        <input type="radio" id="private" name="public" value="false">
        <label for="public">Private</label><br>
        <input type="radio" id="public" name="public" value="true" checked="checked">
        <label for="public">Public</label><br>
    <br><label for="submit"></label>
    <button type="submit" value="submit" id="submit">Submit</button>
</form>
