<h1>These are all your recipes on the Recipe Scrapbook</h1>

<br>
<ul>
<% @recipes.each do |recipe| %>
<li> <a href="/recipes/<%= recipe.id %>"><%= recipe.name %> </a><br> <%= recipe.ingredients %>
<br> <%= recipe.method %>
</li>

<% end %>
</ul>