
<% if logged_in? %>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/recipes">Recipes</a>
  <a href="/recipes/new">Create a Recipe</a>
  <a href="/users/<%= current_user.id %>">My Homepage</a>
</div> 
<% end%>
<br>
<p>
Welcome to the Recipe Scrapbook 

<br> <% if !logged_in? %><p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p> <% end%>

