<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Recipe Scrapbook</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />

    
  </head>
  <body>
    
    <div class="wrapper">
      <h1>Recipe Scrapbook</h1>
      <h4>Keep an online scrapbook of all your family recipes</h4><br>
        <%= yield %>

      <footer class="branding">
        <% if logged_in?%>
          <a href="/logout">Logout</a><br>
          <br>
        <% end%>
        <small>&copy; 2020 <strong>RecipeProject</strong></small>
      </footer>
    </div>
  </body>
</html>
